@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #B3B3B3;
  --color-accent: #7C4DFF;
  --color-accent-hover: #651FFF;
}

body {
  @apply bg-background text-text-primary;
}

@utility scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
